# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\大作业学习\ssstudy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
